* {
  margin: 0;
  padding: 0;
  font-family: "Poppins", sans-serif;
  box-sizing: border-box;
}
body {
  color: #717173;
}
h1 {
  font-family: "Montserrat", sans-serif;
}
h2 {
  font-size: 50px;
  color: #1f1f25;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  color: #1f1f25;
  line-height: 1.4;
}
.txt__center {
  text-align: center;
}
.mgt-40 {
  margin-top: 40px;
}
.p__title {
  background: linear-gradient(
    120deg,
    #1c99fe 20.69%,
    #7644ff 50.19%,
    #fd4766 79.69%
  );
  -webkit-background-clip: text;
  -moz-background-clip: text;
  color: transparent;
  display: inline-block;
}
.p__text {
  font-size: 18px;
  line-height: 30px;
}
.bg__img {
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
}
.bg__pd {
  padding-top: 120px;
  padding-bottom: 120px;
}
.mgb-20 {
  margin-bottom: 20px;
}

/* project */
.project__content {
  background-image: url("../img/bg-image-3.jpg");
  position: relative;
}
.item__wrapper .img__a a img {
  border-radius: 10px;
  transition: transform 1s ease, opacity 0.5s ease 0.25s;
  transition-property: transform, opacity;
  transition-duration: 1s, 0.5s;
  transition-timing-function: ease, ease;
  transition-delay: 0s, 0.25s;
  display: block;
}
.project__item:hover .item__wrapper .img__a a img {
  transform: scale(1.1);
}
.project__item {
  position: relative;
  z-index: 2;
  overflow: hidden;
  border-radius: 10px;
  transition: transform 0.65s cubic-bezier(0.05, 0.2, 0.1, 1),
    box-shadow 0.65s cubic-bezier(0.05, 0.2, 0.1, 1);
}
.project__item.project::before {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 85%;
  display: block;
  z-index: 2;
  background: linear-gradient(
    to bottom,
    rgba(15, 15, 15, 0),
    rgba(15, 15, 15, 0.75) 100%
  );
  background-image: linear-gradient(
    rgba(15, 15, 15, 0),
    rgba(15, 15, 15, 0.75) 100%
  );
  transition: opacity 0.65s cubic-bezier(0.05, 0.2, 0.1, 1);
  cursor: pointer;
}
.project__item:hover {
  transform: translateY(-10px);
  box-shadow: 0 25px 55px rgb(253 71 102 / 22%);
}
.project__item .item__text .text__wrapper {
  position: absolute;
  bottom: 0;
  left: 50%;
  padding: 30px 30px;
  z-index: 99;
  width: 100%;
  transform: translateX(-50%);
}
.text__title .text__mgb {
  margin-bottom: 10px;
}
.text__wrapper .text__title .text__mgb a {
  color: #ffffff;
  opacity: 0.7;
  display: inline-block;
  margin: 5px;
  font-size: 16px;
  font-weight: 300;
  letter-spacing: 0.5px;
  text-decoration: none;
}
.text__wrapper .text__title .text__mgb h4 a {
  font-size: 30px;
  font-weight: 600;
}
.item__text .text__wrapper .text__title {
  transition: opacity 0.65s cubic-bezier(0.05, 0.2, 0.1, 1),
    transform 0.65s cubic-bezier(0.05, 0.2, 0.1, 1);
}
.project__item:hover .item__text .text__wrapper .text__title {
  transform: translateY(-62px);
}
.item__text .text__wrapper .text__hover {
  position: absolute;
  z-index: 11;
  opacity: 0;
  bottom: 35px;
  margin-top: 10px;
  line-height: 1.5em;
  transform: translateY(20px);
  max-width: 80%;
  transition: opacity 0.18s cubic-bezier(0.05, 0.2, 0.1, 1),
    transform 0.18s cubic-bezier(0.05, 0.2, 0.1, 1);
  height: 62px;
  text-overflow: ellipsis;
  overflow: hidden;
  color: #ffffff;
}
.project__item:hover .item__text .text__wrapper .text__hover {
  opacity: 1;
}
.project__item::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 85%;
  display: block;
  z-index: 10;
  background: linear-gradient(to bottom, rgba(0, 0, 0, 0), #fd4766 100%);
  transition: opacity 0.65s cubic-bezier(0.05, 0.2, 0.1, 1);
  transition-property: opacity;
  transition-duration: 0.65s;
  transition-timing-function: cubic-bezier(0.05, 0.2, 0.1, 1);
  transition-delay: 0s;
  cursor: pointer;
  opacity: 0;
}
.project__item:hover::after {
  opacity: 1;
}
/* about */
.thumbnail__wrapper .thumbnail img {
  border-radius: 10px;
}
.about__title h2 {
  font-weight: 600;
  font-size: 50px;
  margin-bottom: 35px;
}
.tab-content .tab-pane h4 {
  font-size: 23px;
  font-weight: 700;
}
.tab-content .tab-pane ul li {
  color: #7e7e7e;
  font-size: 16px;
  line-height: inherit;
  margin-bottom: 15px;
  font-weight: 300;
  list-style: none;
}
.tab-content .tab-pane ul li i {
  color: #fd4766;
  font-size: 15px;
  margin-right: 12px;
}

.tab-content .tab-pane.container.fade p {
  font-weight: 400;
  color: #717173;
  font-size: 18px;
  line-height: 30px;
}

.nav.nav-pills {
  border: 1px solid #e6e6e6;
  border-radius: 50em;
  margin: 20px 0;
}
.nav.nav-pills li a {
  font-weight: 600;
  font-size: 16px;
}

.nav.nav-pills .nav-item .nav-link {
  border-radius: 30px;
  padding: 10px 30px;
}
.nav-item .nav-link.active {
  background-color: #fd4766 !important;
  color: white !important;
}

.nav-link {
  color: #2d2d2d !important;
}

/* Latest News */
